.title{
    color: #006e1d;
    margin: 0;
}

.navContainer{
    background-color: #EBE193;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}