.listContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
}
input{
    color:white;
    display: flex;
    background-color: rgb(168, 168, 168);
    border-color: rgb(168, 168, 168);
    box-sizing: content-box;
    width: max-content;
    border-radius:20px;
}
button{
    border: 1px transparent;
    transition: 0.4s ease;
    color: rgb(255, 255, 255);  
    background-color: rgb(250, 150, 2); 
    border-radius: 30px;
    border-color: azure;
    box-shadow: inset;
}
.lista {
    font-family: Poppins;
    color: black;
    display: flex;
    justify-content: center;
    
   

}
.inputs{
    display: flex;
    justify-content: center;   
}
